<template>

  <div class="card">

    <div class="card-content">

      <div class="content">

        <div class="columns">

            <div class="column is-6">
                <p class="is-size-5 is-bold" style="margin: 0;">General Discussion</p>
                <p class="is-size-6">Come hang out and discuss tech related content! Please check other subforums before posting.</p>
            </div>

            <div class="column is-3 has-text-centered">
                <p class="is-size-5" style="margin: 0;">761,000</p>
                <p class="is-size-6">posts</p>
            </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>

  export default {
    name: 'Post',
    mounted(){

    }
  }
</script>

