<template>
  <div id="home">


    <br />
    <br />

    <div class="columns">

      <div class="column is-1"></div>

      <div class="column is-two-thirds">

        <h1 class="is-size-3 is-bold" style="margin: 0;">Forums</h1>

      </div>

      <div class="column is-1"></div>

    </div>

    <br />

    <div class="columns">

      <div class="column is-1"></div>

      <div class="column is-two-thirds">

        <topic></topic>

      </div>

      <div class="column is-1"></div>

    </div>

  </div>
</template>

<script>

import topic from '@/components/topic.vue'

export default {
  name: 'Home',
  mounted(){
    console.log('Home mounted.')
  },
  components:{
      topic
  }
}
</script>

