<template>
  <nav class="navbar is-transparent">

    <div class="navbar-brand">

        <a class="navbar-item">
          <h1 class="is-size-3">Trey's Forum</h1>
        </a>

        <div class="navbar-burger burger" data-target="forumNavBar">
          <span></span>
          <span></span>
          <span></span>
        </div>

    </div>

    <div id="forumNavBar" class="navbar-menu">

        <div class="navbar-start">
          <div class="navbar-item"><button class="button is-link">Home</button></div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item"><button class="button is-link">Login</button></div>
          <div class="navbar-item"><button class="button is-danger">Logout</button></div>
        </div>

    </div>

  </nav>
</template>

<script>

export default {
  name: 'Home',
  mounted(){
    console.log('Home mounted.')
  }
}
</script>

